%section.talks
  - if talks.empty?
    %section.empty
      %a{:href => "/"}= "There are no talks yet submitted."
  %ul
    - talks.each do |talk|
      %li
        %section.talk
          %section.header
            %h1= h "#{talk.title}"
          %section.content
            %span= h "#{talk.summary}"
          %section.footer
            %span.category= "#{talk.category}"
            %span.duration= "#{talk.duration} mins"
            %span.languages= "#{talk.languages.join(", ")}"
